body {
  text-align: center;
  background-color: #031323;
}

#level-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}
.row{
  display: block;
}
.bton {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 20%;
}
.startbtn{
 
}
/*.allbuttons{
 
  position: absolute;
 
  top: 30%;
}*/
.help{
  
  display: none;
  position: absolute;
  right: 10%;
  top: 30%;
  background-image: linear-gradient(#031323,antiquewhite,antiquewhite,antiquewhite,antiquewhite,antiquewhite,antiquewhite, antiquewhite,#031323);
  color: rgb(31, 31, 30);
  padding: 1.5rem;
  width: 20%;
  /*border:solid rgb(0, 0, 0) 5px;*/
  text-align: justify;
  font-weight: 100;
  font-family: 'Titillium Web', sans-serif;
}
h3{
  font-size: 1.2rem;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.copyright{
  margin: 2%;
  color: rgba(245, 245, 220, 0.448);
}
@media (max-width: 1300px){
    
  .help{
    display: block;
    position:static;
    margin: auto;
    margin-top: 7%;
    height: 30%;
    width: 50%;
  }

    
    
  
}
